<div class="post-card" [class.deleted]="post.isDeleted">
  <div class="post-header">
    <span class="author" (click)="navigateToProfile()" style="cursor: pointer; color: blue;">{{ post.author.username }}</span>
    <span class="timestamp">{{ post.createdAt | date:'short' }}</span>
  </div>
  <div class="post-content">
    {{ post.isDeleted ? 'Post deleted' : post.content }}
  </div>
  <div class="post-actions" *ngIf="!post.isDeleted && canEngage">
    <button (click)="likePost()">Like ({{ post.likesCount }})</button>
    <button (click)="toggleComments()">Comment ({{ post.commentsCount }})</button>
  </div>

  <app-comment-list
    *ngIf="showComments && !post.isDeleted"
    [postId]="post._id"
    [canComment]="canEngage"
  ></app-comment-list>
</div>
